In [27]:
import pandas as pd
import numpy as np

data = pd.read_csv("Data.csv")
data

  Case  V1i (m/s)  V2i (m/s)  V1f (m/s)  V2f (m/s)  m1 (g)  m2 (g)  verr (m/s)
0  1p1      0.515      0.000      0.000      0.471   271.0   271.5        0.04
1  1p2      0.672      0.000     -0.211      0.401   271.0   521.5        0.04
2  2p1      0.515     -0.272     -0.273      0.454   271.0   271.5        0.04
3  3p1      0.657      0.000      0.301      0.301   271.0   271.5        0.04

In [28]:
[i for i in data.iloc[0].keys()]

['Case',
 'V1i (m/s)',
 'V2i (m/s)',
 'V1f (m/s)',
 'V2f (m/s)',
 'm1 (g)',
 'm2 (g)',
 'verr (m/s)']

In [36]:
def conv_g_to_kg(df: pd.DataFrame):
    for key in df.keys():
        if(key.endswith("(g)")):
            df[f"{key[:-3]}(kg)"] = df[key] / 1000

calc_df = pd.DataFrame()
calc_df["Case"] = data["Case"]

def get_momentum(df, calc_df):
    calc_df["p1i (kgm/s)"] = df["V1i (m/s)"] * df["m1 (kg)"]
    calc_df["p2i (kgm/s)"] = df["V2i (m/s)"] * df["m2 (kg)"]
    calc_df["p1f (kgm/s)"] = df["V1f (m/s)"] * df["m1 (kg)"]
    calc_df["p2f (kgm/s)"] = df["V2f (m/s)"] * df["m2 (kg)"]
    
    calc_df["Pi (kgm/s)"] = calc_df["p1i (kgm/s)"] + calc_df["p2i (kgm/s)"]
    calc_df["Pf (kgm/s)"] = calc_df["p1f (kgm/s)"] + calc_df["p2f (kgm/s)"]

def get_KE(df, calc_df):
    def KE(m, vel):
        return 0.5 * m * (vel ** 2)
    
    calc_df["KEi (N)"] = KE(df["m1 (kg)"], df["V1i (m/s)"]) + KE(df["m2 (kg)"], df["V2i (m/s)"])
    calc_df["KEf (N)"] = KE(df["m1 (kg)"], df["V1f (m/s)"]) + KE(df["m2 (kg)"], df["V2f (m/s)"])

def get_momentum_err(df, calc_df):
    calc_df["p1f Error"] = df["m1 (kg)"] * df["verr (m/s)"]
    calc_df["p2f Error"] = df["m2 (kg)"] * df["verr (m/s)"]
    calc_df["Pf Error"] = np.sqrt(calc_df["p1f Error"] ** 2 + calc_df["p2f Error"] ** 2)

def get_KE_err(df, calc_df):
    def KE_err(m, v, v_err):
        return np.abs(m * v) * v_err
    
    KE1_err = KE_err(df["m1 (kg)"], df["V1f (m/s)"], df["verr (m/s)"])
    KE2_err = KE_err(df["m2 (kg)"], df["V2f (m/s)"], df["verr (m/s)"])
    calc_df["KEf Error"] = np.sqrt(KE1_err ** 2 + KE2_err ** 2)

def print_results(calc_df):
    for row in df.iterrows:
        print(f"Momentum ")
    
conv_g_to_kg(data)
get_momentum(data, calc_df)
get_momentum_err(data, calc_df)
get_KE(data, calc_df)
get_KE_err(data, calc_df)
display(data)
display(calc_df)
display(data.iterrows)

,Case,V1i (m/s),V2i (m/s),V1f (m/s),V2f (m/s),m1 (g),m2 (g),verr (m/s),m1 (kg),m2 (kg)
0,1p1,0.515,0.000,0.000,0.471,271.0,271.5,0.04,0.271,0.2715
1,1p2,0.672,0.000,-0.211,0.401,271.0,521.5,0.04,0.271,0.5215
2,2p1,0.515,-0.272,-0.273,0.454,271.0,271.5,0.04,0.271,0.2715
3,3p1,0.657,0.000,0.301,0.301,271.0,271.5,0.04,0.271,0.2715

,Case,p1i (kgm/s),p2i (kgm/s),p1f (kgm/s),p2f (kgm/s),Pi (kgm/s),Pf (kgm/s),p1f Error,p2f Error,Pf Error,KEi (N),KEf (N),KEf Error
0,1p1,0.139565,0.000000,0.000000,0.127877,0.139565,0.127877,0.01084,0.01086,0.015344,0.035938,0.030115,0.005115
1,1p2,0.182112,0.000000,-0.057181,0.209121,0.182112,0.151940,0.01084,0.02086,0.023508,0.061190,0.047961,0.008672
2,2p1,0.139565,-0.073848,-0.073983,0.123261,0.065717,0.049278,0.01084,0.01086,0.015344,0.045981,0.038079,0.005750
3,3p1,0.178047,0.000000,0.081571,0.081722,0.178047,0.163293,0.01084,0.01086,0.015344,0.058488,0.024576,0.004619

<bound method DataFrame.iterrows of   Case  V1i (m/s)  V2i (m/s)  V1f (m/s)  V2f (m/s)  m1 (g)  m2 (g)  \
0  1p1      0.515      0.000      0.000      0.471   271.0   271.5
1  1p2      0.672      0.000     -0.211      0.401   271.0   521.5
2  2p1      0.515     -0.272     -0.273      0.454   271.0   271.5
3  3p1      0.657      0.000      0.301      0.301   271.0   271.5

   verr (m/s)  m1 (kg)  m2 (kg)
0        0.04    0.271   0.2715
1        0.04    0.271   0.5215
2        0.04    0.271   0.2715
3        0.04    0.271   0.2715  >