## PART 1:

In [68]:
# @hidden_cell
import pandas as pd
import numpy as np

p1d = pd.read_csv("Part1Data.csv")
display(p1d)

m = 65.5 / 1000 # g... -> kg
M = 191.7 / 1000 # g... -> kg
R = 27.7 / 100 # cm -> m

dm = 0.1 / 1000 # g -> kg
dM = 0.1 / 1000 # g -> kg
dR = 0.2 / 100 # cm -> m

g = 9.8 # in m/s^2

theta_avg_rad = np.deg2rad(np.mean(p1d["Theta(deg)"]))
v = ((m + M) / m) * np.sqrt(2 * g * R * (1 - np.cos(theta_avg_rad)))
print(f"Velocity: {v:.02f}m/s")

   Theta(deg)
0        45.0
1        46.0
2        45.5
3        46.0
4        46.0
5        46.0
6        46.0
7        46.0
8        46.0
9        46.0

Velocity: 5.04m/s

In [69]:
cosVals = 1 - np.cos(np.deg2rad(p1d["Theta(deg)"]))

dmDM = np.sqrt(dM ** 2 + dm ** 2)
cosAvg = np.mean(cosVals)
d1cos = np.std(cosVals) / np.sqrt(len(cosVals))

# Ah yes, the error formula, long enough to go off screen...
dv = v * np.sqrt((dmDM / (M + m)) ** 2 + (-1 * (dm / m)) ** 2 + (0.5 * (dR / R)) ** 2 + (0.5 * (d1cos / cosAvg)) ** 2)
print(f"Error in Velocity: {dv:.06f}m/s")

Error in Velocity: 0.022532m/s

## PART 2:

In [72]:
p2d = pd.read_csv("Part2Data.csv")

D1 = 193.7 / 100 # cm
D2 = 18.1 / 100 # cm

p2d["Total Dist(m)"] = D1 + D2 + (p2d["Distance (cm)"] / 100)

display(p2d)

x_avg = np.mean(p2d["Total Dist(m)"])
x_err = np.std(p2d["Total Dist(m)"]) / np.sqrt(len(p2d["Total Dist(m)"]))
print(x_avg, x_err)

y1 = 91.5 / 100 # cm -> m
y2 = 7.6 / 100 # cm -> m
yp_err = 0.1 / 100 # cm -> m
y = (y1 + y2)
y_err = np.sqrt(yp_err ** 2 + yp_err ** 2) 
print(y, y_err)

vi = x_avg * np.sqrt(g / (2 * y))
print(f"Initial Velocity: {vi}m/s")
vi_err = vi * np.sqrt(((-1 / 2) * (y_err / y)) ** 2 + (x_err / x_avg) ** 2)
print(f"Error in velocity: {vi_err}m/s")

    Distance (cm)  Total Dist(m)
0             6.0          2.178
1             6.5          2.183
2             7.0          2.188
3             7.2          2.190
4             7.3          2.191
5             8.5          2.203
6             8.8          2.206
7             9.2          2.210
8             9.8          2.216
9             9.0          2.208
10            8.6          2.204

2.197909090909091 0.0035569848533810954
0.991 0.001414213562373095
Initial Velocity: 4.887321828384322m/s
Error in velocity: 0.00864403763871746m/s